.container
	.heading
		My Ledger
	- if @my_ledger[:data].present?
		.total-entries
			= "Total Entries: #{@my_ledger[:data].count}"
		.content
			%table.table.table-striped
				%thead
					%tr
						%td.col-3 Amount
						%td.col-5 Description
						%td.col-4 Datetime
				%tbody
					- @my_ledger[:data].each do |data|
						%tr
							%td.col-3
								= data[:amount]
							%td.col-5 
								= data[:description]
							%td.col-4 
								= data[:datetime]
		.total-amount.fixed-bottom
			= "Total Amount: USD 100"
	- else
		.error
			= @my_ledger[:error] || 'Unable to fetch data from API'
				
				