.container
	.heading
		My Ledger
	- if @my_ledger[:data].present?
		.total-entries
			= "Total Entries: #{@my_ledger[:data].count}"
		.content
			%table.table.table-striped
				%thead
					%tr
						%td.col-3 Amount
						%td.col-5 Description
						%td.col-4 Datetime
				%tbody
					- @my_ledger[:data].each do |data|
						%tr
							%td.col-3
								= data[:amount]
							%td.col-5 
								= data[:description]
							%td.col-4 
								= data[:datetime]
		.total-amount.fixed-bottom
			= "Total Amount: #{@my_ledger[:total_amount]}"
			%br
			= button_to 'Export to CSV', export_path(csv_data: @my_ledger[:data], format: 'csv'), class: "btn btn-primary"
	- else
		.error
			= @my_ledger[:error] || 'Unable to fetch data from API'
				
				