.header.fixed-top
	= link_to 'View All Ledgers', ledgers_path
.container
	.heading
		Create New Ledger
	.content
		= simple_form_for @ledger do |f|
			.form-group.ledger-title
				= f.input :title, label: 'Ledger Title', error: 'Ledger title is mandatory', required: true
			= f.simple_fields_for :ledger_entries do |ff|
				#field-set-container
					%fieldset.fieldset.row.form-group#0
						.col-sm-4
							= ff.input :currency
						.col-sm-4
							= ff.input :amount
						.col-sm-4
							= ff.input :description
			= link_to 'Add More Entry', '#', id: 'addEntry', class: 'btn btn-secondary'
			= f.button :submit, class: 'btn btn-primary'


